main{
    max-width: 70%;
    max-height: max-content;
    margin: 50px auto 50px auto;
    background-color: #E2E4EA;
}

body {
    width: 100%;
    height: 100%;
}

.fullImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1480623826718-27e89ac63a4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

footer{
    background-color:#CED9FF;
}

.rightPage{
    margin: 20px 20px 20px 20px;
    background-color:#A4B1EF;
}

.leftPage{
    background-color: #F2DDD4;
}